$color: #333;

body {
  background-color: $color;
  transition: all 2s;
  background: url('./images/test.jpg');
  color: $color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  border: 1px solid #cccccc;
}